.md img {
  width: 100%;
}

.md p {
  font-size: 1.208rem;
  font-family: "PT Sans Caption", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.md h2 {
  font-size: 2.375rem;
  font-family: "PT Sans Caption", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.md h1 {
  font-size: 3rem;
}

@media (min-width: 600px) {
  .md h2 {
    font-size: 2.5rem;
  }
}
